/* Main Styles --------------------- */

body {
  overflow-x: hidden;
}

/* Element Styles --------------------- */

.btn-lg {
  padding: 20px;
  border-radius: 3em;
}

/* Navigation --------------------- */

.navbar {
  box-shadow: 8px 0 15px rgba(38, 38, 38, 0.94);
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

/* Slider --------------------- */

.carousel-item {
  height: 550px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-image-1 {
  background: url('../img/image1.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/image2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: #ce93d8;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  position: relative;
  min-height: 200px;
  background: #6a1b9a;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url('../img/image3.jpg') fixed 0 -360px;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

.fas {
 color: #4B515D;
}

#main-footer {
  background: #000;
  color: #fff;
}

/* Media Queries ---------------- */

@media (min-width: 576px) {

  .carousel-caption {
    margin-bottom: 50px;
  }
}

@media (min-width: 645px) {

  .carousel-caption {
    margin-bottom: 70px;
  }
}

@media (max-width: 716px) {

  .display-3 {
    font-size: 2.8em;
  }

  .carousel-caption {
    padding-bottom: 90px;
  }

  .navbar-brand {
    text-align: center;
  }

  .btn-lg {
    padding: 10px;
  }
}

@media (min-width: 1210px) {

  .carousel-caption {
    margin-bottom: 100px;
  }
}

@media (min-width: 1700px) {

  .carousel-caption {
    margin-bottom: 140px;
  }
}


